.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='text'] {
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
}

button {
  padding: 0.5em 1em;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

li {
  padding: 0.5em;
  margin-bottom: 0.5em
}

.delete-button {
  background-color: #ff6b6b;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.delete-button i {
  font-size: 16px;
}

.del {
	margin-left: 10px;
}

